

body {
  background-color: black;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: #FFFFFF;
  font-family: 'Courier New', Courier, monospace; 
}

.blocesq{
   background-color: grey;
}

#kuoka{
  height: 20px ;
  width: 250px;
 
}

.navegacao{
  display: flex;
  justify-content: space-between;
  background-color: darkgray;
}

.secao1{
  display: grid;
  grid-template-columns: 2fr 8fr;
}

.col1{
  background-color: black;
}

.bloco2{
  display: flex;
  background-color: grey;
}

.container{
  justify-content:space-between;
  display: grid;
  grid-template-columns: 3fr 3fr;
}

.container img{
  width: 300px;
  height: 300px;
}

.col2{
  display: flex;
  justify-content: top;
  background-color: grey;
}